body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #ADA8A6;
    background-image: linear-gradient(-90deg, #74EBD5, #ACB6E5);
    color: #FBFBFB;
    text-align: center;
    height: 100%;
}

.header {
    background-color: black;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 50px;
    margin-top: -20px;
    left: 50%;
    padding-top: 1px;
    font-size: 40px;
}

.body {
    background-color: blue; 
    width: 80%;
    position: relative;
    margin: 0 auto;
    height: 100%;
}

.answer-choice{
    text-align: left;
    background: #c5d1e6;
    margin: 2px auto;
    transition: 0.4s;
    padding: 6px;
    width: 70%;
    border-radius: 18px;
}

.answer-choice:hover {
    background: rgb(236, 192, 172);
    font-size: 17px;
}

#question{
    font-size: 20px;
}